
html, body, #siapp {
  background: #262626;
}

body {
  color: white;
/*  margin: 0.3em 0.3em 0.3em 0.3em;*/
  text-shadow: 0px 0px 5px grey;
}


#mainMenu {
  background-color: #262626;
}

#helpMenu {
  background: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #202020;
  border-color: #888;
}

/* The Close Button */
.modalButton {
  color: white;
  border-color: white;
}

.modalButton:hover,
.modalButton:focus {
  color: white;
  background-color: grey;
}