html, body, #siapp {
  background: lightgrey;
}

body {
  color: black;
  text-shadow: 0px 0px 5px grey;
}



#mainMenu {
  background-color: white;
}

#helpMenu {
  background: rgba(255,255,255,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border-color: darkgrey;
}

/* The Close Button */
.modalButton {
  color: black;
  border-color: black;
}

.modalButton:hover,
.modalButton:focus {
  color: #000;
  background-color: grey;
}