html, body, #siapp{
  background: #262626;
}

body {
  color: white;
  text-shadow: 2px 2px 10px black;
}

#mainMenu {
  background-color: #262626;
}

#mainMenu > button {
  background-color: #262626;
  border-color: white;
  color: white;
  text-shadow: 2px 2px 10px black;
}

#mainMenu > button:hover:enabled {
  background-color: grey;
}
 
.modal-content {
  background-color: #202020;
  border-color: #888;
}

/* The Close Button */
.modalButton {
  color: white;
  border-color: white;
}

.modalButton:hover,
.modalButton:focus {
  color: white;
  background-color: grey;
}

#loadingDiv {
  background-color: black;
}